:host {
  .tb-form-row {
    gap: 8px;
  }

  .calendar-toggle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .calendar-toggle mat-button-toggle {
    font-family: Vazirmatn;
  }

  .picker-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .time-label {
    font-size: 12px;
    opacity: .7;
    margin-bottom: 2px;
  }

  ::ng-deep ng-persian-datepicker .datepicker-outer-container {
    position: absolute;
    z-index: 1000 !important;
    font-family: Vazirmatn;
    top: calc(var(--input-height) + var(--input-vertical-margin));
    right: 0;
    left: 0;
  }

}