<!-- سوییچ وسط -->
<div class="calendar-toggle">
  <mat-button-toggle-group [value]="calendarType" (change)="onCalendarTypeChange($event.value)">
    <mat-button-toggle class="mat-slide" value="gregorian">میلادی</mat-button-toggle>
    <mat-button-toggle class="mat-slide" value="jalali">شمسی</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<section class="tb-form-row column-xs no-border no-padding tb-standard-fields"
         [formGroup]="dateTimePeriodFormGroup" style="font-family: Vazirmatn;">

  <!-- از -->
  <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
    <mat-label translate>datetime.from</mat-label>

    <!-- وقتی شمسی است -->
    <ng-container *ngIf="calendarType==='jalali'; else gregStart">
      <ng-persian-datepicker
        [calendarIsGregorian]="false"
        [timeEnable]="true"
        [dateFormat]="'YYYY/MM/DD HH:mm'"
        [dateMin]="null"
        [dateMax]="maxStartTs"
        (dateOnSelect)="onStartSelect($event)">
        <!-- الگوی مینیمال: فقط input با کنترل فرم -->
        <input matInput type="text" formControlName="startDate"/>
      </ng-persian-datepicker>
    </ng-container>

    <!-- وقتی میلادی است -->
    <ng-template #gregStart>
      <ng-persian-datepicker
        [calendarIsGregorian]="true"
        [timeEnable]="true"
        [dateGregorianFormat]="'YYYY-MM-DD HH:mm'"
        [dateMin]="null"
        [dateMax]="maxStartTs"
        (dateOnSelect)="onStartSelect($event)">
        <input matInput type="text" formControlName="startDate"/>
      </ng-persian-datepicker>
    </ng-template>
  </mat-form-field>

  <!-- تا -->
  <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
    <mat-label translate>datetime.to</mat-label>

    <ng-container *ngIf="calendarType==='jalali'; else gregEnd">
      <ng-persian-datepicker
        [calendarIsGregorian]="false"
        [timeEnable]="true"
        [dateFormat]="'YYYY/MM/DD HH:mm'"
        [dateMin]="minEndTs"
        [dateMax]="maxEndTs"
        (dateOnSelect)="onEndSelect($event)">
        <input matInput type="text" formControlName="endDate"/>
      </ng-persian-datepicker>
    </ng-container>

    <ng-template #gregEnd>
      <ng-persian-datepicker
        [calendarIsGregorian]="true"
        [timeEnable]="true"
        [dateGregorianFormat]="'YYYY-MM-DD HH:mm'"
        [dateMin]="minEndTs"
        [dateMax]="maxEndTs"
        (dateOnSelect)="onEndSelect($event)">
        <input matInput type="text" formControlName="endDate"/>
      </ng-persian-datepicker>
    </ng-template>
  </mat-form-field>

</section>

