<div style="margin: 10px; padding-bottom:10px;">
  <mat-slide-toggle [(ngModel)]="isGregorian" color="primary">
    Gregorian Calendar
  </mat-slide-toggle>
</div>

<section class="tb-form-row column-xs no-border no-padding tb-standard-fields" [formGroup]="dateTimePeriodFormGroup">
  <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
    <mat-label translate>datetime.from</mat-label>

    <asa-date-picker
      *ngIf="isGregorian"
      [format]="'yyyy/MM/dd'"
      [isRange]="false"
      [(ngModel)]="startDate"
      (onChangeValue)="onDateChange('start', $event)">
    </asa-date-picker>

    <asa-date-picker
      *ngIf="!isGregorian"
      [format]="'yyyy/MM/dd'"
      [calendarType]="'jalali'"
      [isRange]="false"
      [(ngModel)]="startDate"
      (onChangeValue)="onDateChange('start', $event)">
    </asa-date-picker>
  </mat-form-field>

  <mat-form-field class="flex" [subscriptSizing]="subscriptSizing" [appearance]="appearance">
    <mat-label translate>datetime.to</mat-label>

    <asa-date-picker
      *ngIf="isGregorian"
      [format]="'yyyy/MM/dd'"
      [isRange]="false"
      [(ngModel)]="endDate"
      (onChangeValue)="onDateChange('end', $event)">
    </asa-date-picker>

    <asa-date-picker
      *ngIf="!isGregorian"
      [format]="'yyyy/MM/dd'"
      [calendarType]="'jalali'"
      [isRange]="false"
      [(ngModel)]="endDate"
      (onChangeValue)="onDateChange('end', $event)">
    </asa-date-picker>
  </mat-form-field>
</section>
